<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>LoginCheckerServlet</servlet-name>
        <servlet-class>controller.LoginCheckerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutCheckerServlet</servlet-name>
        <servlet-class>controller.LogOutCheckerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddStudentServlet</servlet-name>
        <servlet-class>controller.AdminAddStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdateStudentServlet</servlet-name>
        <servlet-class>controller.AdminUpdateStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddFacultyServlet</servlet-name>
        <servlet-class>controller.AdminAddFacultyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAddHODServlet</servlet-name>
        <servlet-class>controller.AdminAddHODServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdateFacultyServlet</servlet-name>
        <servlet-class>controller.AdminUpdateFacultyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdateHODServlet</servlet-name>
        <servlet-class>controller.AdminUpdateHODServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUpdateProfileServlet</servlet-name>
        <servlet-class>controller.AdminUpdateProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteStudentServlet</servlet-name>
        <servlet-class>controller.AdminDeleteStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteHODServlet</servlet-name>
        <servlet-class>controller.AdminDeleteHODServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminDeleteFacultyServlet</servlet-name>
        <servlet-class>controller.AdminDeleteFacultyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HODUpdateHODServlet</servlet-name>
        <servlet-class>controller.HODUpdateHODServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacultyUpdateProfileServlet</servlet-name>
        <servlet-class>controller.FacultyUpdateProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentUpdateProfileServlet</servlet-name>
        <servlet-class>controller.StudentUpdateProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentCheckPasswordServlet</servlet-name>
        <servlet-class>controller.StudentCheckPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentChangePasswordServlet</servlet-name>
        <servlet-class>controller.StudentChangePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentComplainFacultyServlet</servlet-name>
        <servlet-class>controller.StudentComplainFacultyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentComplainHodServlet</servlet-name>
        <servlet-class>controller.StudentComplainHodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacultyComplainHodServlet</servlet-name>
        <servlet-class>controller.FacultyComplainHodServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacultyResponseServlet</servlet-name>
        <servlet-class>controller.FacultyResponseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HODFacultyResponseServlet</servlet-name>
        <servlet-class>controller.HODFacultyResponseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HODStudentResponseServlet</servlet-name>
        <servlet-class>controller.HODStudentResponseServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacultySendNoticeServlet</servlet-name>
        <servlet-class>controller.FacultySendNoticeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HODSendNoticeStudentServlet</servlet-name>
        <servlet-class>controller.HODSendNoticeStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HODSendNoticeFacultyServlet</servlet-name>
        <servlet-class>controller.HODSendNoticeFacultyServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FacultySendAssignmentServlet</servlet-name>
        <servlet-class>controller.FacultySendAssignmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HODFacultyAssignmentServlet</servlet-name>
        <servlet-class>controller.HODFacultyAssignmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HODStudentAssignmentServlet</servlet-name>
        <servlet-class>controller.HODStudentAssignmentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowAssignmentServlet</servlet-name>
        <servlet-class>controller.ShowAssignmentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginCheckerServlet</servlet-name>
        <url-pattern>/LoginCheckerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutCheckerServlet</servlet-name>
        <url-pattern>/LogOutCheckerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddStudentServlet</servlet-name>
        <url-pattern>/AdminAddStudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateStudentServlet</servlet-name>
        <url-pattern>/AdminUpdateStudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddFacultyServlet</servlet-name>
        <url-pattern>/AdminAddFacultyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAddHODServlet</servlet-name>
        <url-pattern>/AdminAddHODServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateFacultyServlet</servlet-name>
        <url-pattern>/AdminUpdateFacultyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateHODServlet</servlet-name>
        <url-pattern>/AdminUpdateHODServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUpdateProfileServlet</servlet-name>
        <url-pattern>/AdminUpdateProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteStudentServlet</servlet-name>
        <url-pattern>/AdminDeleteStudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteHODServlet</servlet-name>
        <url-pattern>/AdminDeleteHODServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminDeleteFacultyServlet</servlet-name>
        <url-pattern>/AdminDeleteFacultyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HODUpdateHODServlet</servlet-name>
        <url-pattern>/HODUpdateHODServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacultyUpdateProfileServlet</servlet-name>
        <url-pattern>/FacultyUpdateProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentUpdateProfileServlet</servlet-name>
        <url-pattern>/StudentUpdateProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentCheckPasswordServlet</servlet-name>
        <url-pattern>/StudentCheckPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentChangePasswordServlet</servlet-name>
        <url-pattern>/StudentChangePasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentComplainFacultyServlet</servlet-name>
        <url-pattern>/StudentComplainFacultyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentComplainHodServlet</servlet-name>
        <url-pattern>/StudentComplainHodServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacultyComplainHodServlet</servlet-name>
        <url-pattern>/FacultyComplainHodServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacultyResponseServlet</servlet-name>
        <url-pattern>/FacultyResponseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HODFacultyResponseServlet</servlet-name>
        <url-pattern>/HODFacultyResponseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HODStudentResponseServlet</servlet-name>
        <url-pattern>/HODStudentResponseServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacultySendNoticeServlet</servlet-name>
        <url-pattern>/FacultySendNoticeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HODSendNoticeStudentServlet</servlet-name>
        <url-pattern>/HODSendNoticeStudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HODSendNoticeFacultyServlet</servlet-name>
        <url-pattern>/HODSendNoticeFacultyServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FacultySendAssignmentServlet</servlet-name>
        <url-pattern>/FacultySendAssignmentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HODFacultyAssignmentServlet</servlet-name>
        <url-pattern>/HODFacultyAssignmentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HODStudentAssignmentServlet</servlet-name>
        <url-pattern>/HODStudentAssignmentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowAssignmentServlet</servlet-name>
        <url-pattern>/ShowAssignmentServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
